body {
    font-family: sans-serif;
}

h3 {
    font-weight: bolder;
    color: whitesmoke;
}

h2 {
    font-weight: bolder;
    color: black;
    font-size: xx-large;
}

.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
} 

.box {
    background-color: grey;
    padding: 2rem;
    text-align: center;
    align-content: center;
    align-items: center;
    height: 280px;
    width: 280px;
    position: relative; 
    display: table-cell;
}

.circle { 
    border: solid orange 20px;
    background-color: whitesmoke;
    border-radius: 50%;
    width: 180px;
    height: 180px;
    margin: auto;
    overflow: hidden;
}    

.circle h2 {
    display: inline-block;
    align-content: center;
    margin-top: 40%;
    font-size: x-large;
}
