@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300&family=VT323&display=swap');


body {
    font-family: 'Titillium Web', sans-serif;
    width: 97vw;
    height: 100vh;
}

h3 {
    font-weight: bolder;
    color: whitesmoke;
}

h2 {
    font-weight: bolder;
    color: black;
    font-size: large;
}

h1 {
    font-weight: bolder;
    color: black;
    font-size: x-large;
}


/* index.html structure */

.container {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, 30%);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
       
} 

.box {
    background-color: grey;
    padding: 2rem;
    text-align: center;
    align-content: center;
    align-items: center;
    height: 280px;
    width: 280px;
    position: relative; 
    display: table-cell;
    margin-left: auto;
    margin-right: auto; 
}

.circle { 
    border: solid orange 20px;
    background-color: whitesmoke;
    border-radius: 50%;
    width: 180px;
    height: 180px;
    margin: auto;
    overflow: hidden;
}    

.circle h2 {
    display: inline-block;
    align-content: center;
    margin-top: 40%;
    font-size: x-large;
}

/*  navigation bar */

.navbar{
    width: auto;
    background-color: grey;
    margin-bottom: 2rem;
    padding: 2rem;
}

.navbar a {
    font-size: xx-large;
    color: whitesmoke;
    text-decoration: none;
    padding: 5rem;
}

.navbar a:hover {
    color: orange;
    font-size: xx-large;
}

#date-time {
    color: black;
    font-weight: bolder;
    font-size: x-large;
}

/* footer */

.footer {
    width: auto;
    background-color: grey;
    margin-top: 2rem;
    padding: 1em;
    text-align: center;
}

.footer a {
    font-size: x-large;
    font-weight: bolder;
    color: whitesmoke;
    text-decoration: none;
    padding: 3rem;
}

.footer a:hover {
    color: orange
}

h5 {
    color: whitesmoke;
}


/* forecast.hmtl */

.fcbox {
    background-color: grey;
    padding: 2rem;
    text-align: center;
    position: relative; 
    display: table-cell;
    border: solid 5px orange;
    border-radius: 25%;
    margin-left: auto;
    margin-right: auto;
    
}

.fcbox span {
    font-size: x-large;
    font-weight: bold;

}

/* history.html */

.hisbox {
    background-color: grey;
    padding: 2rem;
    text-align: center;
    align-content: center;
    align-items: center;
    position: relative; 
    display: inline-block;
    border: solid 5px orange;
    margin-left: auto;
    margin-right: auto; 
}

.hisbox span {
    font-size: x-large;
    font-weight: bold;
}

.totals {
    font-size: x-large;
    font-weight: bolder;
    background-color: whitesmoke;
}

#map {
    height: 400px;
    width: 100%;
}

/* rain_chart.html */

.chart_container {
    margin-left: auto;
    margin-right: auto;
}

.button_container {
    margin-left: auto;
    margin-right: auto;
}

.button {
    font-size: 14px;
    color: whitesmoke;
    text-decoration: none;
    border-radius: 50%;
    border: 3px solid orange;
    width: 100px;
    height: 100px;
    background-color: grey;
    
}

.button:hover {
    border: 6px solid rgb(0, 119, 255)
}

/* pws_html */

.map_text {
    font-weight: bold;
}


/* media queries */

@media screen and (max-width: 1400px) {
    .navbar a {
        font-size: x-large;
        color: whitesmoke;
        text-decoration: none;
        padding: 3rem;
    }
    
    .navbar a:hover {
        color: orange;
        font-size: x-large;
    }
}

@media screen and (max-width: 1200px) {
    .container {
        display: grid;
        grid-template-columns: repeat(2, 45%);
        gap: 5px;
        grid-auto-rows: minmax(auto, auto);

  }
  
}

@media screen and (max-width: 980px) {
    .navbar a {
        font-size: large;
        color: whitesmoke;
        text-decoration: none;
        padding: 1rem;
    }
    
    .navbar a:hover {
        color: orange;
        font-size: large;
    }

}

@media screen and (max-width: 780px) {
    .container {
        display: grid;
        grid-template-columns: repeat(1, 90%);
        gap: 5px;
        grid-auto-rows: minmax(auto, auto);

    }
}

@media screen and (max-width: 560px) {
    .navbar a {
        font-size: x-large;
        color: whitesmoke;
        text-decoration: none;
    }
    .navbar a:hover {
        color: orange;
        font-size: x-large;
    }
    .navbar {
        display: grid;
    }
    .footer a {
        font-size: large;
        font-weight: bolder;
        color: whitesmoke;
        text-decoration: none;
        padding: 3rem;
    }
}


