@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300&family=VT323&display=swap');


body {
    font-family: 'Titillium Web', sans-serif;
    width: 100%;
}

h3 {
    font-weight: bolder;
    color: whitesmoke;
}

h2 {
    font-weight: bolder;
    color: black;
    font-size: xx-large;
}

h1 {
    font-weight: bolder;
    color: black;
    font-size: x-large;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 30%);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
} 

.box {
    background-color: grey;
    padding: 2rem;
    text-align: center;
    align-content: center;
    align-items: center;
    height: 280px;
    width: 280px;
    position: relative; 
    display: table-cell;
}

.circle { 
    border: solid orange 20px;
    background-color: whitesmoke;
    border-radius: 50%;
    width: 180px;
    height: 180px;
    margin: auto;
    overflow: hidden;
}    

.circle h2 {
    display: inline-block;
    align-content: center;
    margin-top: 40%;
    font-size: x-large;
}

/**  navigation bar **/

.navbar{
    width: 95%;
    background-color: grey;
    margin-bottom: 2rem;
    /* text-align: center; */
    padding: 2rem;
}

.navbar a {
    font-size: xx-large;
    color: whitesmoke;
    text-decoration: none;
    padding: 5rem;
}

.navbar a:hover {
    color: orange;
    font-size: xx-large;
}

#date-time {
    color: black;
    font-weight: bolder;
    font-size: x-large;
}

/* forecast.hmtl */

.fcbox {
    background-color: grey;
    padding: 2rem;
    text-align: center;
    align-content: center;
    align-items: center;
    position: relative; 
    display: table-cell;
    border: solid 5px orange;
}

.fcbox span {
    font-size: x-large;
    font-weight: bold;

}

/* history.html */
.hisbox {
    background-color: grey;
    padding: 2rem;
    text-align: center;
    align-content: center;
    align-items: center;
    position: relative; 
    display: table-cell;
    border: solid 5px orange;
}

.hisbox span {
    font-size: x-large;
    font-weight: bold;
